@page "/"
@using MudBlazor
@using projet_jean_marcillac.Modeles
@using projet_jean_marcillac.Composants.Cours.CoursDataGrid.TableauCours

<h1>Panel Prof</h1>

<TableauCours Cours="@Cours" OnCoursModifie="() => OnCoursModifieAsync()"/>