@page "/"
@using projet_jean_marcillac.Composants.NavBar
@using projet_jean_marcillac.Composants.Footer

<NavBar/>

<h1>Panel Administration de la plateforme de cours</h1>
<br>
<br>

<projet_jean_marcillac.Composants.Professeurs.ProfesseursDataGrid.ProfesseursDataGrid Professeurs="@Professeurs" 
    OnProfesseurModifie="() => ProfesseurSelectionChanged()" />

<Footer/>